:root {
  --primary-color: #8FCCFF;
  --secondary-coloer: #F88EBE;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color)
}

.App {
  text-align: center;
}

nav {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
